<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g=3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Discount Card</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>discount </option>
                        <option value="">50%</option>
                        <option value="">30%</option>
                        <option value="">20%</option>
                        <option value="">10%</option>
                      </select>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-lbel">Address</label>
                    <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Payment</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Select the payment option</option>
                        <option value="">Gpay</option>
                        <option value="">Phonepay</option>
                        <option value="">VISA</option>
                      </select>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <button class="btn btn-danger">pay</button>
                </div>
            </div>
        </div>
    </div>
</div>
